@media screen and ( max-width:960px){
    h3{
        font-size: 15px;
        
    }
    .advantages__list div{
        margin-bottom: 10px;
    }
    .advantages__item span{
        font-size: 14px;
    }
    .question{
    	width: 90%;
    }
    .btn__info{
    	width:80%;
    }
   
}