


/* Portrait tablets and small desktops */
@media screen and (min-width: 991px) {
    .nav li{
        margin-left: 32px;
        
    }

}
/* Landscape phones and portrait tablets */
@media (max-width: 768px) {
    .nav li{
        margin-left: 32px;
        
    }

.nav{
    justify-content: center;
}
.logo{
    align-items: center;
    
}
h1,.item__transcription,.item__desc{
    text-align: center;
}
.app__list{
    justify-content: center;
}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}

/* Iphone 5 */
@media (max-width: 320px) {

}