@media screen and ( max-width:724px){
    h1{
        margin-top: -40px;
        font-size: 64px;
    }
    .main p{
        font-size: 44px;
    }
     .tel li {
        display:block;
     }






}