


/* Portrait tablets and small desktops */
@media screen and (min-width: 991px) {

}
/* Landscape phones and portrait tablets */
@media (max-width: 768px) {
    
}

/* Portrait phones and smaller */
@media screen and (max-width: 480px) {
.nav{
    justify-content: center;
}
h1{
    text-align: center;
    
}
.item__transcription,.item__desc{
    text-align: center;
}
.logo{
    justify-content: center;
}
.app__list{
    justify-content: center;
}
.nav li{
    margin-right: 50px;
}
.form{
	
	width: 540px;
	padding-left: 10px;
	height: 50px;
	border: 1px solid #fff;
    border-radius: 5px;
    font-size: 15px;
}
}

/* Iphone 5 */
@media (max-width: 320px) {

}
}